@font-face {
    font-family: 'Constantia';
    src: url("fonts/Constantia.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: Constantia, sans-serif;
}
.header{
    margin-left: 10px;
}
.material{
    font-size: 1.1em;
    font-weight: bold;
}
.d-flex {
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.bigF {
    font-size: 1.3em;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background: #BFD6F6;
}
.create-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #405C73;
    background-color: #405C73;
    color: white;
    height: 20px;
}
input{
    margin-left: 10px;
    border-radius: 7px;
    border: 1px solid #405C73;
}
select{
    margin-left: 10px;
    border-radius: 7px;
    border: 1px solid #405C73;
}
.btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #405C73;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px;
    background-color: #405C73;
    color: white;
    height: 20px;
}
.marg{
    margin-left: 0;
}
.alert {
    margin: 20px;
    padding: 20px;
    color: white;
}
.alert-success, .alert-danger {
    background-color: #405C73;
}
